.idea
jobs_complete/*
jobs_running/*
!jobs_complete/README.txt
!jobs_running/README.txt
computation_core/dependencies/*.jar
*.mv.db
*.trace.db
### Gradle ###
.gradle
**/build/
src/ratpack/config.yaml
plamade_test_dep*
out/
