@font-face {
    /* http://underpop.online.fr/l/linux-console-fonts-for-windows-in-ttf-and-fon/ */
    /* GNU GPL Version 2 license.  */
    font-family: "Multi-size, regular Misc-Fixed";
    src: url("/fonts/misc-fixed.ttf") format("truetype");
}

.console-text {
    font-family: "Multi-size, regular Misc-Fixed", serif;
}

.qrCodeText {
    letter-spacing: 4px;               /* Increase the spacing between letters */
    font-weight: bold;                 /* Make the text bolder */
    margin-left: 10px;                /* Added space to the left of QR code text */
}

.gdpr-text {
    font-size: 14px; /* You can adjust this as needed */
    line-height: 1.5; /* This will make the text look more visually appealing */
}

.clickable-header {
    cursor: pointer;
    text-decoration: underline;
}