<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: customHead('NoiseModelling server status')}">
<body>
<div id="layout">
    <div th:replace="~{menu :: menu}"></div>
    <div id="main" class="content">
        <div class="header"><h1>NoiseModelling server status</h1>
            <h2>Loaded libraries</h2>
        </div>
        <div th:each="library : ${libraries}" class="job-table-container" style="margin-bottom: 1.5em;">
            <table class="pure-table pure-table-bordered" style="width: 100%;">

            </table>
        </div>
    </div>
</div>
</body>
</html>
