<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: customHead('Validate register user')}">
<body>
<div id="layout">
    <div th:replace="~{menu :: menu}"></div>
    <div id="main" class="content">
        <div class="header"><h1 th:text="'Job #'+${jobId}"></h1>
            <h2>Job latest logs</h2>
        </div>
        <div class="code">
            <pre class="console-text" th:text="${rows}">blah blah</pre>
        </div>
    </div>
</div>
</body>
</html>
