<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: customHead('Manage users')}">
<body>
<div id="layout">
    <div th:replace="~{menu :: menu}"></div>
    <div id="main" class="content">
        <div class="header"><h1>Manage users</h1>
            <h2>Create new users and modify existing ones</h2>
            <table class="pure-table pure-table-bordered">
                <thead>
                <tr>
                    <th>User email</th>
                    <th>Database size</th>
                    <th>Register Link</th>
                    <th>Groups</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="'👤 '+${user.email}"><a th:href=""></a></td>
                    <td th:text="${user.dbSize}">15.8 Mb</td>
                    <td th:text="${user.registerUrl}"></td>
                    <td th:text="${user.groups)"></td>
                    <td><a th:href="@{|${baseUrl}/edit_user/${user.id}|}">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
