name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgis/postgis:16-3.4
        env:
          # must specify password for PG Docker container image, see: https://registry.hub.docker.com/_/postgres?tab=description&page=1&name=10
          POSTGRES_USER: noisemodelling
          POSTGRES_PASSWORD: noisemodelling
          POSTGRES_DB: noisemodelling_db
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      # Checkout the source code of the project
      - name: Checkout
        uses: actions/checkout@v4
      # Setup the jdk using version 11 of Adoptium Temurin
      - name: Setup java 11 using Adoptium Temurin
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Building
        run: mvn test -B
      - name: Package
        run: mvn package
      - name: Unzip production artifacts
        run: mkdir NoiseModellingCovadis && tar xvf covadis-webserver/target/*.zip --strip-components=1 -C NoiseModellingCovadis
      - name: Upload distribution file
        uses: actions/upload-artifact@v4
        with:
          name: NoiseModellingCovadis-${{ replace(replace(replace(replace(github.ref_name != github.event.repository.default_branch && github.ref_name || github.sha, '/', '_'), '\\', '_'), ':', ''), '*', 'x') }}
          path: NoiseModellingCovadis/



